<div class="login-outer-container">
  <div class="login-container">
    <div class="login-inner-container">
      <%= image_tag("Remind.svg", :alt => "Remind") %>
      <%= form_for(resource, as: resource_name, class: "login-inner-container-form", url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "login-form-input" %>
        <%= f.password_field :password, class: "login-form-input", placeholder: "Password", autocomplete: "current-password" %>

        <div class="login-inner-container-options">
          <% if devise_mapping.rememberable? %>
            <div class="login-inner-container-checkbox ">
              <%= f.check_box :remember_me, class: "checkbox-style" %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="login-inner-container-links">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "login-inner-container-links" %><br />
            <% end %>
          </div>
        </div>

        <%= f.submit "Sign in", class: 'login-form-button' %>
      <% end %>
      <p>Don't have an account? 
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
        <% end %>
      </p>
    </div>
  </div>
</div>